*{
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-content: flex-start;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 1px solid #000;
}
.vertical {
  flex-direction: column;
  align-items: flex-start;
}

ul {
  list-style-type: none;
  margin: 0 0 20px 25px;
  padding-left: 0;
  transition: all 0.4s ease;
  overflow: hidden;
}

.list-block {
  position: relative;
}

.drop-icon {
  position: absolute;
  height: 16px;
  width: 16px;
  background-image: url(../img/next.svg);
  transition: all 0.3s ease;
  cursor: pointer;
}

label {
  user-select: none;
  cursor: pointer;
}
.radio {
  margin-left: 25px;
}

.radio input { 
  display: none;
  }
.radio span {
  position: relative;
  display: inline-block;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid #000;
  border-radius: 2px;
}
.radio input:checked + span::before { 
  content: '';
  position: absolute;
  background: #000;
  width: 6px;
  height: 6px;
  border-radius: 2px;
}

.list-item-wrap {
  display: flex;
  margin-left: 20px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}
.number-input-wrap {
  display: flex;
  width: 50px;
  align-items: center;
  justify-content: space-between;
}

.number-input,
.color-input {
  height: 20px;
  width: 20px;
  padding: 0;
  text-align: end;
  cursor: pointer;
}
.color-input {
  border: none;
  outline:none;
}
.number-input {
  border: 1px solid rgb(180, 180, 180);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;    
}
input[type="color"]::-webkit-color-swatch {
  border: none;  
}

.right-list-wrap {
  height: auto;
  width: 350px;
  margin-bottom: 3px;
  padding: 5px;
  border: 1px solid #000;
}
.header-block {
  display: flex;
  margin-left: 2px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.btn {
  appearance: none;
  border:  none;
  outline: none;
  min-width: 100px;
  padding: 3px 10px;
  border-radius: 5px;
  font-family: inherit;
  color:#fff;
  background-color: rgb(57, 136, 255);
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(0, 94, 235);
}

.random-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: wrap;
  margin-top: 4px;
}
.item {
  height: 10px;
  width: 10px;
  margin-left: 2px;
  margin-bottom: 2px;
  background-color: red;
  cursor: pointer;
}